<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>msTRMS</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSRequestServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSRequestServlet</servlet-name>
    <url-pattern>/msRequest</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MSRequestListServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSRequestListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSRequestListServlet</servlet-name>
    <url-pattern>/msRequestList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSSubsRequestsServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSSubsRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSSubsRequestsServlet</servlet-name>
    <url-pattern>/msRequestSubs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MSRequestResponseServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSRequestResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSRequestResponseServlet</servlet-name>
    <url-pattern>/MSRequestResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSEmployeeNameServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSEmployeeNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSEmployeeNameServlet</servlet-name>
    <url-pattern>/MSEmployeeName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSEmployeeUserIDServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSEmployeeUserIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSEmployeeUserIDServlet</servlet-name>
    <url-pattern>/MSEmployeeUserID</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MSBencoReqsServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSBencoReqsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSBencoReqsServlet</servlet-name>
    <url-pattern>/MSBencoReqs</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>MSRequestFilesServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSRequestFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSRequestFilesServlet</servlet-name>
    <url-pattern>/MSRequestFiles</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>MSGradeFilesServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSGradeFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGradeFilesServlet</servlet-name>
    <url-pattern>/MSGradeFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSGradeServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGradeServlet</servlet-name>
    <url-pattern>/MSGrade</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MSGradeResponseServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSGradeResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGradeResponseServlet</servlet-name>
    <url-pattern>/MSGradeResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSEventFilesServlet</servlet-name>
    <servlet-class>com.metalSlime.servlets.MSEventFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSEventFilesServlet</servlet-name>
    <url-pattern>/MSEventFiles</url-pattern>
  </servlet-mapping>  
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>